body {
  transition: all ease 0.3s;
  // z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  //z-index: 5;
}
.hidden{
  display: none !important;
}
/*==========  Media Queries ==========*/

/*max-width: 339px*/

@media screen and (max-width: 339px) {
  .burger {
  }
  .a-heading-logo {
    display: none !important;
  }
  #img-logo {
    margin-right: 1.2rem;
  }
  h3.login-header{
    font-size: 14px !important;

  }
}

/*max-width: 475px*/
@media screen and (max-width: 575px) {
  #user {
    margin-right: -85px !important;
    position: absolute;
  }
}

@media screen and (max-width: 475px) {
  #heading-logo {
    font-size: 17px;
  }
}

/*max-width: 768px*/

@media screen and (max-width: 767px) {
  h3.login-header{
    font-size: 18px;
  }
}

/*max-width: 991px*/

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .card-mw-course {
    min-width: 50%;
    margin: auto;
  }
  nav ul {
    position: absolute;
    right: 0;
    height: 91.8vh;
    top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: #fcfcfc;
    color: #000;
    max-width: 260px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  #search-btn {
    background-color: $default-red;
    color: #fff;
    height: 26px !important;
    width: 28px !important;

    &:hover {
      color: #fff;
    }
  }
}

/*max-width: 1199px and min-width:992px)*/

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .service-cards {
    min-height: 130px;
  }
}

/*max-width: 1300px and min-width:992px)*/

@media screen and (min-width: 992px) and (max-width: 1300px) {
  .nav-links {
    width: 80%;
  }
}
